@model DepartmentVM

<label for="Name">@SharedLocalizer["DName"]</label>
    <input type="text" asp-for="Name" class="form-control" readonly/>
    <br />

    <label for="Code">@SharedLocalizer["DCode"]</label>
    <input type="text" asp-for="Code" class="form-control" readonly/>
    <br />

    

